[Desktop Entry]
Version=1.0
Type=Application
Name=Set Winlink Mode
Comment=
Exec=/opt/netrig/bin/modeset-winlink
Icon=xfce-newmail
Path=
Terminal=true
StartupNotify=false
