sbin/astdb2bdb
sbin/astdb2sqlite3
sbin/astversion
sbin/astgenkey
sbin/asterisk
sbin/autosupport
sbin/safe_asterisk
sbin/rasterisk
sbin/astcanary
data/*
data/*.db
bin/ardop1ofdm
bin/ardop2
bin/fldigi-shell
bin/ardopofdm
bin/flrig-shell
bin/ardopc
cache/*
www/.well-known/acme-challenge/*
www/zmodemjs/*
include/*
share/man/man8/*
run/*
run/netrig.json
run/fcgiwrap.socket
run/baresip-radio0/*
run/flrig-vnc.pid
run/flrig-vnc.pass
run/flrig-vnc.pass.raw
lib/asterisk/*
lib/libast*
etc/acme/*
etc/acme/private/*
etc/mime.types
tmp/*
tmp/nginx/*
var/cache/*
var/spool/*
var/run/*
var/log/*
var/lib/*
src/ext/*
src/asterisk/*
src/ardop/*
src/chan-sccp/*
logs/*
logs/asterisk/*
.empty/*
